/******************************************* Define your color constants here ***********************************************************/

$color-red: red;
$color-green: red;
$color-blue: red;
$color-white: red;
$color-black: red;
$color-star: #f7aa03;
$google-btn-color:#DD4B39!important;
$fb-btn-color:#3A559F!important;
