
@import "./global-cursor.scss";
@import "./global-typography.scss";

*{
  outline: none !important;
  resize: none !important;
}

body{
  background-color: #cccccc !important;
}
.max-1440{
  max-width: 1440px !important;
}

.image-fit{
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
  background-color: #cccfd9;
}

.box-shadow{
  box-shadow: 0 3px 10px #8a8888!important;
}
